.control-group {
    flex-direction: row;
    flex-grow: 1;
    
    background-color: rgb(29, 43, 83);
    padding: 6px;
    margin: 4px;
}

.control-group .amount-field {
    flex-basis: 75%;
}

.control-group .amount-field Label {
    min-width: 80px;
}

.control-group .amount-field {
    justify-content: space-between;
}

.control-group .amount-field .unity-base-slider__input {
    flex-grow: 0;
    min-width: 200px;
}

.control-group Button {
    flex-basis: 20%;
}
